In [1]:
name = "EDU"
print(name)

EDU

In [2]:
print("EDU")

EDU

In [3]:
#Datatype
x = 10
print( type(x) )

x = 10.5
print( type(x) )

x = 1 + 2j
print( type(x) )

x = "Hello Python"
print( type(x) )

<class 'int'>
<class 'float'>
<class 'complex'>
<class 'str'>

In [4]:
print("This is " + str(x) ) #printed string with integer and converted int to str

This is Hello Python

In [5]:
y=50
print("This is {} and this is {}".format(x,y) )

This is Hello Python and this is 50

In [7]:
name = "Rafi"
gender = "male"
age = 25
phone = '0123456'
print(f"Im {name}.A {age} year old {gender}. Conntact me {phone}")

Im Rafi.A 25 year old male. Conntact me 0123456

In [ ]:
print("This is {1} and this is {0}".format(x,y) )

This is 50 and this is Hello Python

In [ ]:
print(f"This is {x} and this is {y}")

This is Hello Python and this is 50

In [ ]:
#user input
inp = int(input("Enter a value: "))
print("The entered value is: ",inp)

Enter a value: 5
The entered value is:  5

In [9]:
name = input("Enter Your Name:")
print(name)

rafi

In [ ]:
b= float(input("Enter the value of b:"))
print(b)

Enter the value of b:10.9
10.9

In [ ]:
#python by default take inputs as strings if the data type is not mentioned
c=input()
print(c)
print( type(c) )

5
5
<class 'str'>

In [ ]:
text = "Python is awesome"
print(len(text))       # Output: 17

'Python' in text  # Output: True

'Java' in text   # Output: False

17

False

In [26]:
# Example:
text = "Hello"
# text[0] = 'h'  # This will raise an error, as strings are immutable

new_text = 'h' + text[1:]  # This creates a new string
print(new_text)  # Output: hello

hello