In [ ]:
#giving only 1 value as parameter will result in taking from 0 to value-1 and default 1 increment
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
#print 0 to 9 with increment 2
for i in range(0,10,2):
  print(i)

0
2
4
6
8

In [ ]:
#print reverse from 9 to 0 using for loop
for i in reversed(range(0,10)):
  print(i)

9
8
7
6
5
4
3
2
1
0

In [ ]:
#print reverse from 9 to 0 using for loop
for i in range(9,-1,-1):
  print(i)

9
8
7
6
5
4
3
2
1
0

In [ ]:
#python while loop is almost as same as C while loop except the syntex
#print 0 to 9 using while loop
i = 0
while i <= 9:
  print(i)
  i+=1

0
1
2
3
4
5
6
7
8
9

In [ ]:
#string
st1 = "This is a string"
#indexing of string is same as in c
#looping through a string
for i in range(len(st1)):
  print(st1[i])

T
h
i
s

i
s

a

s
t
r
i
n
g

In [ ]:
#Continue and Break
for letter in 'Python':
   if letter == 'h':
      continue
   print('Current Letter :', letter)

var = 10
while var > 0:
   print('Current variable value :', var)
   var = var -1
   if var == 5:
      break

Current Letter : P
Current Letter : y
Current Letter : t
Current Letter : o
Current Letter : n
Current variable value : 10
Current variable value : 9
Current variable value : 8
Current variable value : 7
Current variable value : 6

In [ ]:
#Nested for loops
# outer loop
for i in range(2):
    # inner loop
    for j in range(2):
        print(f"i = {i}, j = {j}")

i = 0, j = 0
i = 0, j = 1
i = 1, j = 0
i = 1, j = 1

In [ ]:
#Python program to find the factorial of a number provided by the user.
num = int(input("Enter a number: "))

factorial = 1

#check if the number is negative, positive or zero
if num < 0:
   print("Sorry, factorial does not exist for negative numbers")
elif num == 0:
   print("The factorial of 0 is 1")
else:
   for i in range(1,num + 1):
       factorial = factorial*i
   print("The factorial of",num,"is",factorial)

Enter a number: 5
The factorial of 5 is 120

In [ ]:
#Star Pattern
for i in range (0,5,1):
  print("* " *i)

*
* *
* * *
* * * *